body {
  background-color: #e7e6e6;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
#header {
  background-color: rgba(7, 125, 7, 0.9);
  height: 180px;
  color: white;
  display: flex;
  padding-left: 210px;
  padding-top: 30px;
}
#header > span {
  margin-top: 35px;
  margin-left: 10px;
}
#header > img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}
#generaldiv {
  width: 700px;
  background-color: white;
  margin: auto;
  margin-top: -80px;
  /* height: 500px; */
  padding: 30px 50px;
  border-radius: 4px;
}
#firstdiv {
  display: flex;
  height: 80px;
  border: 1px solid rgb(185, 183, 183);
  align-items: center;
  padding: 0px 10px;
  border-radius: 3px;
  margin: 0;
}

#firstDivContent {
  margin-left: 10px;
  height: 60px;
}
#firstDivContent > h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
  margin-top: 0px;
}
#firstDivContent > p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}

button {
  height: 30px;
  width: 180px;
  background-color: rgb(7, 125, 7);
  border-radius: 20px;
  color: whitesmoke;
  border: none;
  margin-left: 10px;
}

#secondDiv {
  display: flex;
  padding: 20px 0px;
}
#secondDivContent {
  width: 70%;
}
div#secondDivContent > h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
div#secondDivContent > p {
  font-size: 15px Arial;
  color: rgba(0, 0, 0, 0.5);
}

#barcode {
  align-content: center;
  border-radius: 5px;
  width: 25%;
  margin-left: -10px;
}
#videoDiv {
  text-align: center;
  background-color: rgb(249, 246, 246);
  padding: 20px;
  margin: 10px -50px;
}

a {
  color: rgb(184, 181, 181);
}
